body {
  margin: 0;
  font-size: 1.1rem;
}
* {
  box-sizing: border-box;
}
.wrapper {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(249, 254, 1, 0.68) 0%,
    rgba(4, 255, 225, 0.66) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  background: rgba(255, 251, 251, 0.344);
  backdrop-filter: blur(10px);

  width: 400px;
  color: black;
  padding: 2rem 1.5rem;
  border-radius: 5px;

  display: grid;
  gap: 1rem;

  grid-template-areas:
    "display display display display"
    "ac c perc divide"
    "btn7 btn8 btn9 btnx"
    "btn4 btn5 btn6 minus"
    "btn1 btn2 btn3 plus"
    "btn0 btn0 dot equals";
}

.calculator div {
  height: 50px;
  /* width: 50px; */
  background: rgba(207, 204, 204, 0.58);
  filter: drop-shadow(-12px 12px 14px rgba(0, 0, 0, 0.25));

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.calculator div.display {
  grid-area: display;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  font-family: "Orbitron", sans-serif;
  font-size: 1.3rem;
  cursor: pointer;
}
.btn-ac {
  grid-area: ac;
}
.btn-c {
  grid-area: c;
}
.btn-perc {
  grid-area: perc;
}
.btn-divide {
  grid-area: divide;
}
.btn-7 {
  grid-area: btn7;
}
.btn-8 {
  grid-area: btn8;
}
.btn-9 {
  grid-area: btn9;
}
.btn-x {
  grid-area: btnx;
}
.btn-4 {
  grid-area: btn4;
}
.btn-5 {
  grid-area: btn5;
}
.btn-6 {
  grid-area: btn6;
}
.btn-minus {
  grid-area: minus;
}
.btn-1 {
  grid-area: btn1;
}
.btn-2 {
  grid-area: btn2;
}
.btn-3 {
  grid-area: btn3;
}
.btn-plus {
  grid-area: plus;
}
.btn-0 {
  grid-area: btn0;
}
.btn-dot {
  grid-area: dot;
}
.btn-equals {
  grid-area: equals;
}

.circle {
  background: linear-gradient(to right, blue, purple);
  width: 150px;
  height: 150px;
  border-radius: 50%;

  position: relative;
  left: 60px;
  top: 200px;
}

.prank {
  animation: shake 0.5s ease-in;
}

@keyframes shake {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}
